a#PlayPage {
    all: unset;
    text-decoration: none;
    padding: .5rem;
}
#left-side {
    display: flex;
    flex-wrap: wrap;
}
#right-side {
    display: flex;
    float:right;
    width:100vw;
    border-radius: 1rem;

    height: 83vh;
    margin: .2vh;
    background-color: rgb(77, 75, 75);
}
#grid-container {
    display: flex;
}
