a#PlayPage {
    all: unset;
    text-decoration: none;
    padding: .5rem;
}
#navbar {
    display: inline-block;
}
a.bitbusta {
    font-family: Courier New ,sans-serif;
    font-size: 40px;
    color: rgb(44,48,54);
    margin: 0;
}
#nav-logo-container {
    display:inline-block;
}
#nav-center-container {
    display: inline-block;
}
#nav-right-container {
    float: right;
    padding-right: 1rem;
}
img#PlayPage-bustabit-logo{
    height: 45px;
}
#left-side {
    display: flex;
    flex-wrap: wrap;
}
#right-side {
    display: flex;
    float:right;
    width:100vw;
    border-radius: 1rem;

    height: 83vh;
    margin: .2vh;
    background-color: rgb(77, 75, 75);
}
#BetControls {
    display: block;
    width:32vw;
    border-radius: 1rem;

    height: 42vh;
    margin: .2vh;
    background-color: rgb(77, 75, 75);
}
#BitRollChart {
    display: flex;
    width:32vw;
    border-radius: 1rem;

    height: 42vh;
    margin: .2vh;
    background-color: rgb(77, 75, 75);
}
#UserLedger {
    display: inline;
    
}
#grid-container {
    display: flex;
}
/* #grid-container {
    display: grid;
    grid-template-columns: 33% 1fr 33%;
    grid-template-rows: 52px 40vh 1fr;
    grid-template-areas:
        "top-bar top-bar top-bar"
        "game-display bet-controls right-panel"
        "bottom-panel bottom-panel right-panel";
    padding: 0 5px;
} */



#betbutton {
    display:flex;
    max-width: 100%;
    min-width: 100%;
    bottom:0;
    padding-top:3rem;
}
#betinput {
    padding-top: 3rem;
    max-width: auto;
    min-width: auto;
    display: flex;
}
.user-ledger-table {
    width: 100%;
}
.user-col {
    width:50%;
}
table {
    table-layout: fixed;
}
#even-col {
    background-color: brown;
}